
.gallery {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;

}

.image {
  max-width: 32vw;
  text-align: center;
}

@media (max-width: 768px) {
  .gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }
  .image {
    max-width: 48vw;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .image {
    max-width: 98vw;
    text-align: center;
  }
}

@media (min-width: 4000px) {
  .gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
  }
  .image {
    max-width: 24vw;
    text-align: center;
  }
}

@media (min-width: 5000px) {
  .gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
  }
  .image {
    max-width: 19vw;
    text-align: center;
  }
}

.divider-line {
  width: 100%;
  border: none;
  height: 2px;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 9px;
}

.title {
 color: #b7bdf8;
 font-size: 60px;
 text-align: center;
 margin-top: 8px;
 margin-bottom: 8px;
}


/* scrollbar */
::-webkit-scrollbar {
  width: auto;
  background-color: #272a2d;
}


::-webkit-scrollbar-thumb {
  background-color: #5c6269;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #646b72;
}

::-webkit-scrollbar-track {
  background-color: #2c2f32;
}

::-webkit-scrollbar-track:hover {
  background-color: #303336;
}


.footer-container {
  display: flex;
  justify-content: center;
}

.footer {
  margin: 0 10px;
}
.footer-link {
  color: #89b4fa;
}
.footer-link:visited {
  color: #cba6f7;
}

