.gallery {
  display: grid;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 12px;

}

.image {
  max-width: 32vw;
  text-align: center;
}

@media (max-width: 768px) {
  .gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }
  .image {
    max-width: 48vw;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .image {
    max-width: 98vw;
    text-align: center;
  }
}

@media (min-width: 4000px) {
  .gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
  }
  .image {
    max-width: 24vw;
    text-align: center;
  }
}

@media (min-width: 5000px) {
  .gallery {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    text-align: center;
  }
  .image {
    max-width: 19vw;
    text-align: center;
  }
}



.divider-line {
  width: 100%;
  border: none;
  height: 2px;
  background-color: white;
  margin-top: 4px;
  margin-bottom: 9px;
}

.title {
 color: #a6da95;
 font-size: 60px;
 text-align: center;
 margin-top: 8px;
 margin-bottom: 8px;
}


/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background-color: #1e2030;
}


::-webkit-scrollbar-thumb {
  background-color: #8087a2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #939ab7;
}

::-webkit-scrollbar-track {
  background-color: #24273a;
}

::-webkit-scrollbar-track:hover {
  background-color: #363a4f;
}