<!DOCTYPE html>
<html>
<head>
    <title>Photo gallery - admin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='elements/admin.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    
    <style>


            @font-face {
            font-family: 'Quicksand';
            src: url("{{url_for('static', filename='elements/quicksand.ttf')}}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Maple';
            src: url("{{url_for('static', filename='elements/maple.woff2')}}") format('woff2');
            font-weight: normal;
            font-style: normal;
        }

  
  </style>

  

</head>


<body style="background-color:#1D1F21; text-align: center;">
    
<h1 class="title" style="font-family:quicksand; align-items: center;"><a class="homebtn" href="/" style="font-family: maple"><button style="font-family: maple; font-size:45%;" class="gradient-button">gallery</button></a> Photo gallery - Admin page</h1>

<div class="divider-line"></div>
<form id="imageForm" method="POST">
<div class="gallery">
        

        {% for i in wide %}
        
        <div class="image" data-image-name="{{i}}">

 
                <img src="{{ url_for('static', filename='thumbs/' + i) }}" class="image1">
                <button id="{{i}}" value="{{i}}" name="button_id" class="reveal-button"> </button>
        </div>

        {% endfor %}

        {% for i in high %}
        <div class="image" data-image-name="{{i}}">

                <img src="{{ url_for('static', filename='thumbs/' + i) }}" class="image1">
                <button id="{{i}}" value="{{i}}" name="button_id" class="reveal-button"> </button>
        </div>


        {% endfor %}
    </div>



</form>



<div class="upload">
<form action = "/upload" method="POST" enctype="multipart/form-data"> 

    <label class = "file-label">  </label>
    <input class = "file" type="file" name="file" multiple>
    <input class = "filebtn" type = "submit" value="Upload"> 
</form> 
</div>

<div class="divider-line"></div>


<div class="footer-container">
<h1 class="footer" style="font-family:maple; color:white; text-align:center; font-size:15px; ">Made with ♥</h1>

<h1 class="footer" style="font-family:maple; color:white; text-align:center; font-size:15px;"><a class="footer-link" target="_blank" href="https://github.com/Comalnik/photo-site">Source code</a></h1>



</body>

</html>
