<!DOCTYPE html>
<html>
<head>
    <title>Photo gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='elements/image.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='elements/favicon.ico')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='elements/favicon-512x512.png')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='elements/favicon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='elements/favicon-32x32.png')}}">
    <meta charset="UTF-8" />


<style>

body {
    background-color:#181926;
}


@font-face {
            font-family: 'Quicksand';
            src: url("{{url_for('static', filename='elements/quicksand.ttf')}}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }

@font-face {
            font-family: 'Maple';
            src: url("{{url_for('static', filename='elements/maple.woff2')}}") format('woff2');
            font-weight: normal;
            font-style: normal;
        }

</style>

</head>

<body>

    <div class="image">
        <img src="{{url_for('static', filename='images/'+link)}}">
    </div>

   

    <input type="checkbox" id="sidebar-toggle" style="opacity:0;">
    <label for="sidebar-toggle" class="sidebar-toggle-label">
      <span></span>
      <span></span>
      <span></span>
    </label>
    
    

    <div class="sidebar">
        <a class="homebtn" href="/" style="font-family: maple;"><button style="font-family: maple; font-size:45%;" class="gradient-button rainbowText">gallery</button></a>

        
        <div class="container" style="font-family: maple, light;">
        {% for tag, value in metadata %}
 

        <p><strong style="color:#b7bdf8;">{{ tag }}:</strong> {{ value }}</p>
        
        {% endfor %}

        {% if film_sim != ""%}
        <p><strong style="color:#eed49f;">Film simulation:</strong> {{ film_sim }}</p>
        {% endif %}

    </div>
    </div>
    
</body>

</html>