<!DOCTYPE html>
<html>
<head>
    <title>Foto Galerija</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
</head>

<body style="background-color:#181926;">
<div class="gallery">
        

        {% for i in imges %}
        <div class="image">
            <a href="/{{i}}">
                <image src="{{url_for('static', filename='thumbs/'+i)}}">
            </a>
        </div>
        
        {% endfor %}
          
    </div>


</div>
</body>

</html>