<!DOCTYPE html>
<html>
<head>
    <title>Photo gallery</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='elements/style.css')}}">

    <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='elements/favicon-512x512.png')}}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='elements/favicon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='elements/favicon-32x32.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    
    <style>


            @font-face {
            font-family: 'Quicksand';
            src: url("{{url_for('static', filename='elements/quicksand.ttf')}}") format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Maple';
            src: url("{{url_for('static', filename='elements/maple.woff2')}}") format('woff2');
            font-weight: normal;
            font-style: normal;
        }

  
  </style>

  

</head>


<body style="background-color:#1D1F21;">

<h1 class="title" style="font-family:quicksand;">Photo gallery</h1>

<div class="divider-line"></div>

<div class="gallery">
        

        {% for i in wide %}
        
        <div class="image">
            <a href="/{{i}}">
                <image src="{{url_for('static', filename='thumbs/'+i)}}">
            </a>
        </div>
        
        {% endfor %}

        {% for i in high %}
        <div class="image">
            <a href="/{{i}}">
                <image src="{{url_for('static', filename='thumbs/'+i)}}">
            </a>
        </div>


        {% endfor %}
    </div>

</div>
<div class="divider-line"></div>


<div class="footer-container">
<h1 class="footer" style="font-family:maple; color:white; text-align:center; font-size:15px; ">Made with ♥ by Comalnik</h1>
<!--<h1 class="footer" style="font-family:maple; color:white; text-align:center; font-size:15px;">© 2019-2023 Comalnik</h1> -->

<h1 class="footer" style="font-family:maple; color:white; text-align:center; font-size:15px;"><a class="footer-link" target="_blank" href="https://github.com/Comalnik/photo-site">Source code</a></h1>
</div>

</body>

</html>
